// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-color-base: #F7F2F0;

// Colors
:root{
    --c1:#F7F2F0;
    --c2:#6930c3;
    --c3:#6891f8;
    --c4:#25035c;
    --c5:#190041;
}

$c1:var(--c1);
$c2:var(--c2);
$c3:var(--c3);
$c4:var(--c4);
$c5:var(--c5);
