// Body
$body-bg: #190041;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-color-base: #F7F2F0;

// Colors
$c1:#F7F2F0;
$c2:#1F271B;
$c3:#8B786D;
$c4:#25035c;
$c5:#190041;